.navBar {
  justify-content: space-between;
  font-size: 1.3rem;
  height: 5rem;
  padding: 1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  gap: 1rem;
}

.navBar a {
  font-size: 1.2rem;
}

.navBar div {
  align-items: center;
  gap: 2rem;
}

.newUser {
  position: relative;
}

.newUser input {
  background: none;
  color: var(--secondary);
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary);
  flex: 1 1 0;
  width: 40%;
  border-radius: 0.2rem;
  height: 3rem;
  font-size: 1rem;
}

.newUser input::placeholder {
  color: var(--secondary);
  font-size: 1rem;
}

.newUser input:focus {
  outline: 1px solid var(--yellow);
  border: none;
}

.searchButtons {
  position: absolute;
  right: 5%;
  display: flex;
  list-style: none;
  gap: 0.5rem;
  z-index: 999;
  font-size: 1rem;
}

.newUser path {
  color: var(--secondary);
}
